/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;  
}
  
  

  /******************************/
  /* ALGEMENE CUSTOM PROPERTIES */
  /******************************/
  :root {
      --color-main: #D96704;
  
      --color-text: #111;
      --color-background: #F5F5F5;
  
      --color-background-topbar: white;
  
      --color-banner: #174873;
  
      --color-background-navmenu: #FBFBFB;
      --color-background-footer: #282828;
      --color-background-card: var(--color-background-topbar);
  }
  
  
  /************************************/
  /* CUSTOM PROPERTIES VOOR DARK MODE */
  /************************************/
  /*@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #D96704;
        
        --color-text: white;
        --color-background: black;
        
        --color-background-topbar: white;
        
        --color-banner: #174873;
        
        --color-background-navmenu: lightgrey;
        --color-background-footer: #282828;
        --color-background-card: var(--color-background-topbar);
    }
  }




/************************************************************************************/
/* RIJKSOVERHEID FONTS GEÃMPORTEERD VAN https://github.com/SLKTH/rijksoverheidfonts */
/************************************************************************************/
/* Theorie over het importeren van fonts van MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
/*@font-face {
  font-family: "Rijksoverheid";
  src: 
  url(/fonts/rijksoverheidsansheading-bold.ttf) format("truetype"),
  url(/fonts/rijksoverheidsanstext-regular.ttf) format("truetype"),
  url(/fonts/rijksoverheidserif-italic.ttf) format("truetype"),
  url(/fonts/rijksoverheidserif-regular.ttf) format("truetype");
}*/


@font-face {
  font-family: "rijksoverheid";
  src: url(../fonts/rijksoverheidsanstext-regular.ttf) format("truetype");
  font-weight: 400;
  
}

@font-face {
  font-family: "rijksoverheid";
  src: url(../fonts/rijksoverheidsansheading-bold.ttf) format("truetype");
  font-weight: 700;
  
}

/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);

    font-family: "rijksoverheid", Arial, sans-serif;
    font-size: 1em;
}



/*************************************/
/* LAYOUT VAN DE HEADER MET ZOEKVELD */
/*************************************/
header {
	background-color: var(--color-header-background);
	
	position: sticky;
	top: 0;
  z-index: 100;
	
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
  padding: 0.4375rem 1rem 0.4375rem 1rem;
  max-width: 120rem; /* 120(r)em = 1920px */ 
  max-height: 7.9125rem; /* rem staat voor root em */
}

header nav ul {
  display: flex;
  list-style: none;

}

header nav ul li {
  padding: .5rem; 

  display: flex;
  align-items: center;
  border-radius: 6.25rem;
  background-color: var(--color-background-topbar);
}


header nav:first-of-type{
  display: flex;
  justify-content: space-between;

}

header nav a img:first-child {
  position: sticky;

  max-width: 2.8125em;
  max-height: 2.8125em;

}

header nav ul li > img:first-child {
  top: 0;
  max-width: 100%;

  list-style-type: none;

  display: flex;
  justify-content: center;
}

header nav ul li button:first-child {
  position: absolute;

  list-style-type: none;
  top: 0;
  right: 0;

  display: flex;
  text-align: right;
}

header button:first-child {
  background-color: var(--color-background-topbar);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  display: flex;
  align-items: center;
}

header button:first-child svg{
  max-width: 100%;
  width: 1.172rem;
  height: 0.879rem;
  margin-right: .5rem;
}

header button:first-child h4{
  margin: 0;
  font-size: 1em;
}

header form {
  background-color: var(--color-background-navmenu);
}


/********************************************************/
/* LAYOUT VAN HET NAVIGATIEMENU - IN MENUKNOP VERBORGEN */
/********************************************************/






/********/
/* MAIN */
/********/
main section h1 {
  padding: 0 .5rem;
  font-family: "rijksoverheid", Arial, sans-serif;
  font-size: 2em;

  display: block;
  box-sizing: border-box;
  line-height: .75em;
  color: var(--color-background-topbar);
}

main section h2 {
  font-family: "rijksoverheid", Arial, sans-serif;
  font-size: 2em;

  display: block;
  box-sizing: border-box;
  line-height: .75em;

  position: relative;
  color: var(--color-main);
}

main section h3 {
  font-size: 1.5em;
  font-family: "rijksoverheid", Arial, sans-serif;
  color: var(--color-text);
}

main section h4 {
  font-size: 1.5em;
  font-family: "rijksoverheid", Arial, sans-serif;
  color: var(--color-text);
}

main section p {
  font-size: 1em;
  font-family: "rijksoverheid", Arial, sans-serif;
  color: var(--color-text);
}

main section img {
  max-width: 100%;
  left: 0;
  right: 0;
}

main section button {
  background-color: var(--color-background-topbar);
}

/************************/
/* LAYOUT VAN DE FOOTER */
/************************/
footer {
	background-color: var(--color-background-footer);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-auto-flow: dense;

  padding: 1.25rem 1.9375rem 1.625rem;
  bottom: 1.625rem;
}

footer h3, p {
  font-size: 1em;
  font-family: "rijksoverheid", Arial, sans-serif;

	color: var(--color-background-topbar);
}

footer section:last-child, p {
  display: flex;
  flex-direction: row;

}

footer section:last-child a {
  display: block;

}




/************************************************************/
/* RESPONSIVENESS ALS SCHERM/BROWSER MINIMAAL 38EM BREED IS */
/************************************************************/
/*@media (width > 38em) {
  header > button:nth-of-type(2) {
    display:none;

  }
  
  nav {
    position:static;
    translate:unset;
    background:unset;
    
  }
  
  nav button {
    display:none;
    
  }
  
  nav ul {
    display:flex;
    gap:1em;
    
  }
  
  nav a {
    border-bottom: unset;
    
    display:flex;
    flex-direction:column; 
    
  }
  
  header > a:last-of-type {
    display:flex;
    flex-direction:column; 
    
  }
}

/********************************************************************/
/* STYLING VOOR DE HEADER ALS SCHERM/BROWSER MINIMAAL 57EM BREED IS */
/********************************************************************/
@media (width > 57em) {
  header > a:last-of-type, nav a {
    display: flex;
    
  }
}