/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;  
}
  
  

  /******************************/
  /* ALGEMENE CUSTOM PROPERTIES */
  /******************************/
  :root {
      --color-main: #D96704;
  
      --color-text: #111;
      --color-background: #F5F5F5;
  
      --color-background-topbar: white;
  
      --color-banner: #174873;

      --color-list-border-lines: lightgrey;
  
      --color-background-navmenu: #FBFBFB;
      --color-background-footer: #282828;
      --color-background-card: var(--color-background-topbar);
  }
  
  
  /************************************/
  /* CUSTOM PROPERTIES VOOR DARK MODE */
  /************************************/
  /* @media (prefers-color-scheme: dark) {
    :root {
        --color-main: #D96704;
        
        --color-text: white;
        --color-background: black;
        
        --color-background-topbar: darkgrey;
        
        --color-banner: #174873;

        --color-list-border-lines: lightgrey;
        
        --color-background-navmenu: lightgrey;
        --color-background-footer: #282828;
        --color-background-card: var(--color-background-topbar);
    }
  } */




/************************************************************************************/
/* RIJKSOVERHEID FONTS GEÏMPORTEERD VAN https://github.com/SLKTH/rijksoverheidfonts */
/************************************************************************************/
/* Theorie over het importeren van fonts van MDN: https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face */
/*@font-face {
  font-family: "rijksoverheid"; (gebruik kleine letters!)
  src: 
  url(/fonts/rijksoverheidsansheading-bold.ttf) format("truetype"),
  url(/fonts/rijksoverheidsanstext-regular.ttf) format("truetype"),
  url(/fonts/rijksoverheidserif-italic.ttf) format("truetype"),
  url(/fonts/rijksoverheidserif-regular.ttf) format("truetype");
}*/

@font-face {
  font-family: "rijksoverheid";
  src: url(../fonts/rijksoverheidsanstext-regular.ttf) format("truetype");
  font-weight: 400;  
}

@font-face {
  font-family: "rijksoverheid";
  src: url(../fonts/rijksoverheidsansheading-bold.ttf) format("truetype");
  font-weight: 700;
}



/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);

    font-family: "rijksoverheid", Arial, sans-serif;
    font-size: 1em;
}



/*************************************/
/* LAYOUT VAN DE HEADER MET ZOEKVELD */
/*************************************/
header {
  background-color: var(--color-background-topbar);
	position: sticky;
	top: 0;

  /* nieuw erbij tijdens de animeren-les */
  min-height: 7.9125rem;
  line-height: 1;
  /********************************/

  z-index: 100;
	
  /* Flexbox gebruiken voor in de header */
	display: flex;
	justify-content: space-between;
  align-items: center;

  /* Hieronder "flex-wrap: wrap" gebruikt, dit betekent
  dat de flex items naar de volgende regel worden ver-
  plaatst als ze niet in de desbetreffende/beschikbare
  ruimte passen. Met andere woorden, ze worden dus op
  meerdere regels weergegeven in plaats van allemaal op
  één regel.*/
  flex-wrap: wrap;

  max-width: 120rem; /* 120(r)em = 1920px voor desktop breedte */ 
  max-height: 7.9125rem; /* rem staat voor root em */
}

header a {
  /* padding: .5rem 0; */
  color: var(--color-text);
  text-decoration: none;
}

header nav:nth-of-type(1) {
  position: sticky;
  background-color: var(--color-background-topbar);
  height: 4.063rem;
  max-width: 77rem;
  padding: 0 1rem;

  /* Flexbox gebruiken voor in de header */
  display: flex;
  justify-content: space-between;
  column-gap: 5.375rem;
  align-items: flex-start;

  flex-wrap: wrap;
  flex-grow: 1;

}

header nav ul:nth-of-type(1) {
  margin: 0;
  padding: 0;
  list-style: none;

  /* Flexbox in de ul van de header gebruiken */
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;

}

header nav ul li {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
  height: 100%;
  border-radius: .5em;
  background-color: var(--color-background-topbar);
}


/* DigiD logo linksboven in het klein */
header nav a img:nth-of-type(1) {
  position: sticky;

  max-width: 100%;
  width: 2.8125em;
  padding-top: .438rem;

}

/* Rijksoverheid banner logo bovenaan de pagina in het midden */
header .banner {
  max-width: 100%;
  width: 2.563rem;
  height: 4.688rem;

  /* grid-template-columns: min-content min-content; */
  /* grid-gap: .25em; */

  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* De menuknop rechtsboven */
header button:first-child {
  position: sticky;
  background-color: var(--color-background-topbar);
  color: var(--color-text);

  list-style-type: none;
  border: none;
  padding: .25rem .313rem .625rem 1.969rem;
  cursor: pointer;

  display: flex;
  text-align: right;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
}

header button:first-child svg {
  max-width: 100%;
  width: 1.172rem;
  height: .879rem;
}

header button:first-child path {
  width: 1.172rem;
  height: .879rem;
}

header button:first-child h4 {
  color: var(--color-text);

  font-family: "rijksoverheid", Arial, sans-serif;
  font-size: 1.2em;
}

/* Zoekveld met zoek-knop */
header form {
  background-color: var(--color-background-navmenu);
  left: 0;
  right: 0;
  padding: .5rem 1rem;
  position: relative;
  height: 3.85rem;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

}

header form input {
  padding: .625rem 1rem;
  width: 18.7rem;
  height: 2.85rem;
  border-width: 1px;
  border-top-left-radius: .313rem;
  border-bottom-left-radius: .313rem;

  font-family: "rijksoverheid", Arial, sans-serif;
  font-size: 1em;
}

header form button {
  background-color: var(--color-main);
  padding: .5rem .5rem .375rem;
  width: 2.75rem;
  height: 2.85rem;
  border-width: 1px;
  border-top-right-radius: .313rem;
  border-bottom-right-radius: .313rem;
}

header form img {
  max-width: 100%;
  width: 0.938rem;
  height: 0.938rem;
}



/********************************************************/
/* LAYOUT VAN HET NAVIGATIEMENU - IN MENUKNOP VERBORGEN */
/********************************************************/
header nav:nth-of-type(2) {
  padding: 1rem;
  position: fixed;

  /* Grid gebruikt voor het uitklapbare navigatiemenu */
  display: grid;
  align-content: start;
  gap: 1rem;
  
  /* Hieronder kun je ook "inset: 0;" zeggen, dat
  betekent hetzelfde als hieronder */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* Hieronder bepaal je met
  "transform:translate(x-as, y-as);"
  welke kant hij in- en uit moet klappen, hierbij
  kan je ook de snelheid bepalen met transition */
  transform: translate(100%, 0);
  transition: 0.3s;
}

/* Als het navigatiemenu open is en hij weer in-
klapbaar is, door op de sluitknop te klikken */
header nav:nth-of-type(2).open {
  transform: translate(0, 0);
  transition: 0.4s;
}

/* Een unordered list in het navigatiemenu */
header nav:nth-of-type(2) ul { 
  margin: 0; 
  padding: 0;
  list-style: none;

}

/* De links in de lists, die in een ul zitten */
header nav:nth-of-type(2) a {
  /* Icoontje en tekst met een gap naast elkaar,
  ook met flex-box */
  display: flex;
  align-items: center;
  column-gap: .25rem;
  
  border-bottom:solid 1px var(--menu-border);
}

header nav:nth-of-type(2) a img {
  width: auto;
  height: 2rem;
}





/********/
/* MAIN */
/********/
main h1 {
  padding: 0 .5rem;
  font-family: "rijksoverheid", Arial, sans-serif;
  font-size: 2em;

  display: block;
  box-sizing: border-box;
  line-height: .75em;
  color: var(--color-background-topbar);
}

main h2 {
  font-family: "rijksoverheid", Arial, sans-serif;
  font-size: 2em;

  display: block;
  box-sizing: border-box;
  line-height: .75rem;

  position: relative;
  color: var(--color-main);
}

main h3 {
  font-size: 1.5em;
  font-family: "rijksoverheid", Arial, sans-serif;
  color: var(--color-text);
}

main h4 {
  font-size: 1.5em;
  font-family: "rijksoverheid", Arial, sans-serif;
  color: var(--color-text);
}

main p {
  font-size: 1em;
  font-family: "rijksoverheid", Arial, sans-serif;
  color: var(--color-text);
  line-height: 1.563rem;
}

/* main section img {
  max-width: 100%;
  left: 0;
  right: 0;
} */



/************************/
/* LAYOUT VAN DE FOOTER */
/************************/
footer {
	background-color: var(--color-background-footer);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.125rem;
  grid-auto-flow: dense;

  padding-top: 1.25rem;
  padding-right: 1.9375rem;
  padding-left: 1.9375rem;
  padding-bottom: 3.25rem;
}

footer ul { 
  list-style: none;
}

footer li {
  padding-top: .5rem;
  padding-bottom: .5rem;

}

footer h3, p {
  color: var(--color-background-topbar);
  font-size: 1em;
  font-family: "rijksoverheid", Arial, sans-serif;

}

footer a {
  text-decoration: none;
  color: var(--color-background-topbar);
  font-size: 1em;
  font-family: "rijksoverheid", Arial, sans-serif;
  
}

footer section:nth-of-type(1) > ul {
  padding: 0;
  list-style-type: none;

}

footer section:nth-of-type(2) > ul {
  display: flex;
  column-gap: .5rem;
  align-items: flex-start;

  padding: 0;
  list-style-type: none;

}

footer section:nth-of-type(2) li > a {
  display: block;
  text-decoration: none;
  color: var(--color-background-topbar);
  font-size: 1em;
  font-family: "rijksoverheid", Arial, sans-serif;

}

footer section:nth-of-type(2) li:nth-of-type(1) > a {
  font-family: "rijksoverheid", Arial, sans-serif;
  font-weight: 700;

  /* ANDERE MANIER OM EEN UNDERLINE TE MAKEN */
  /* text-decoration: underline; */
  /* text-decoration-color: var(--color-background-topbar); */
  /* text-decoration-thickness: .125rem; */

  border-bottom: .125rem solid var(--color-background-topbar);

}

footer section:nth-of-type(2) li:nth-of-type(2) > p {
  margin: 0;

}

footer section:nth-of-type(3) > ul {
  padding: 0;
  list-style-type: none;

}




/************************************************************/
/* RESPONSIVENESS ALS SCHERM/BROWSER MINIMAAL 38EM BREED IS */
/************************************************************/
/*@media (width > 38em) {
  header > button:nth-of-type(2) {
    display:none;

  }
  
  nav {
    position:static;
    translate:unset;
    background:unset;
    
  }
  
  nav button {
    display:none;
    
  }
  
  nav ul {
    display:flex;
    gap:1em;
    
  }
  
  nav a {
    border-bottom: unset;
    
    display:flex;
    flex-direction:column; 
    
  }
  
  header > a:last-of-type {
    display:flex;
    flex-direction:column; 
    
  }
}

/********************************************************************/
/* STYLING VOOR DE HEADER ALS SCHERM/BROWSER MINIMAAL 57EM BREED IS */
/********************************************************************/
@media (width > 57em) {
  header > a:last-of-type, nav a {
    display: flex;
    
  }

  footer {
    display: flex;
    justify-content: center;
    column-gap: 8.688rem;
    
  }

  footer section:nth-of-type(1) {
    order: 1;

  }

  footer section:nth-of-type(2) {
    order: 3;

  }

  footer section:nth-of-type(3) {
    order: 2;

  }
}