/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;  
}
  
  
  
  /******************************/
  /* ALGEMENE CUSTOM PROPERTIES */
  /******************************/
  :root {
      --color-main: #D96704;
  
      --color-text: #111;
      --color-background: #F5F5F5;
  
      --color-background-topbar: white;
  
      --color-banner: #174873;
  
      --color-background-navmenu: #FBFBFB;
      --color-background-footer: #282828;
      --color-background-card: var(--color-background-topbar);
  }
  
  
  /************************************/
  /* CUSTOM PROPERTIES VOOR DARK MODE */
  /************************************/
  /*@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #D96704;
        
        --color-text: white;
        --color-background: black;
        
        --color-background-topbar: white;
        
        --color-banner: #174873;
        
        --color-background-navmenu: lightgrey;
        --color-background-footer: #282828;
        --color-background-card: var(--color-background-topbar);
    }
  }
  
  
/****************/
/* JOUW STYLING */
/****************/
  
/* jouw code */
  

  
/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}



/*************************************/
/* LAYOUT VAN DE HEADER MET ZOEKVELD */
/*************************************/
header {
	background-color: var(--color-header-background);
	
	position:sticky;
	top:0;
  padding:1em;
	z-index:10;
	
	display:grid;
	flex-wrap:wrap;
	justify-content: space-between;
  }

nav:first-of-type {
  display:flex;

}

nav ul:first-of-type {
	display:flex;
	justify-content: space-between;
  }
  
nav ul:first-of-type li {
	display:flex;
  }





/**************************************/
/* LAYOUT VAN DE MENUBALK - NAVIGATIE */
/**************************************/






/********/
/* MAIN */
/********/






/************************/
/* LAYOUT VAN DE FOOTER */
/************************/
footer {
	background-color: var(--color-background-footer);

}

footer h3, a {
	color: var(--color-background-topbar);
}




/************************************************************/
/* RESPONSIVENESS ALS SCHERM/BROWSER MINIMAAL 38EM BREED IS */
/************************************************************/
@media (width > 38em) {
  header > button:nth-of-type(2) {
    display:none;

  }
  
  nav {
    position:static;
    translate:unset;
    background:unset;
    
  }
  
  nav button {
    display:none;
    
  }
  
  nav ul {
    display:flex;
    gap:1em;
    
  }
  
  nav a {
    border-bottom: unset;
    
    display:flex;
    flex-direction:column; 
    
  }
  
  header > a:last-of-type {
    display:flex;
    flex-direction:column; 
    
  }
}

/****************************************************************/
/* STYLING VOOR DE HEADER ALS HIJ MINIMAAL 57EM */
/****************************************************************/
@media (width > 57em) {
  header > a:last-of-type, nav a {
    flex-direction: row;
    
  }
}