/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing: border-box;  
}
  
  

  /******************************/
  /* ALGEMENE CUSTOM PROPERTIES */
  /******************************/
  :root {
      --color-main: #D96704;
  
      --color-text: #111;
      --color-background: #F5F5F5;
  
      --color-background-topbar: white;
  
      --color-banner: #174873;
  
      --color-background-navmenu: #FBFBFB;
      --color-background-footer: #282828;
      --color-background-card: var(--color-background-topbar);
  }
  
  
  /************************************/
  /* CUSTOM PROPERTIES VOOR DARK MODE */
  /************************************/
  /*@media (prefers-color-scheme: dark) {
    :root {
        --color-main: #D96704;
        
        --color-text: white;
        --color-background: black;
        
        --color-background-topbar: white;
        
        --color-banner: #174873;
        
        --color-background-navmenu: lightgrey;
        --color-background-footer: #282828;
        --color-background-card: var(--color-background-topbar);
    }
  }




/********************/
/* ALGEMENE STIJLEN */
/********************/
body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}



/*************************************/
/* LAYOUT VAN DE HEADER MET ZOEKVELD */
/*************************************/
header {
	background-color: var(--color-header-background);
	
	position: sticky;
	top: 0;
  z-index: 100;
	
	display: flex;
  flex-wrap: wrap;
	justify-content: space-between;
  padding: 0.4375em 1em 0.4375em;

}

header nav a img:first-child {
  position: sticky;

  max-width: 2.8125em;
  max-height: 2.8125em;


}

header nav ul li img {
  top: 0;
  list-style-type: none;

  display: flex;
  justify-content: center;
}

header nav ul li button:first-child {
  position: absolute;

  list-style-type: none;
  top: 0;
  right: 0;

  display: flex;
  text-align: right;
}

nav:first-child {
  display: flex;

}

nav ul:first-child {
	display: flex;
	justify-content: space-between;

  }
  
nav ul:first-child li {
	display: flex;

  }





/**************************************/
/* LAYOUT VAN DE MENUBALK - NAVIGATIE */
/**************************************/






/********/
/* MAIN */
/********/
main section h1 {
  padding: 0 .5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1em;

  display: block;
  box-sizing: border-box;
  margin-top: .25em;
  margin-bottom: .25em;
  line-height: .75em;
  color: var(--color-background-topbar);
}

main section h2 {
  padding: 0 .5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1em;

  display: block;
  box-sizing: border-box;
  margin-top: .25em;
  margin-bottom: .25em;
  line-height: .75em;

  position: relative;
  margin-top: 1.56em;
  margin-left: 1.25em;
  color: var(--color-main);
}

main section h3 {
  padding: 0 .5em;
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: var(--color-text);
}

main section h4 {
  padding: 0 .5em;
  margin: 0;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
  color: var(--color-text);
}

main section h5 {
  padding: 0 .5em;
  margin: 0;
  font-size: .75em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 250;
  color: var(--color-text);
}

main section p {
  padding: 0 .5em;
  margin: 0;
  font-size: .75em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: var(--color-text);
}

main section img {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

main section button {
  background-color: var(--color-background-topbar);
}

ul {
  list-style-type: none;
  padding: 2.5em 2.25em 9.38em;
}

/************************/
/* LAYOUT VAN DE FOOTER */
/************************/
footer {
	background-color: var(--color-background-footer);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  grid-auto-flow: dense;

  padding: 1.25em 1.9375em 1.625em;

}

footer h3, a, p {
  font-size: .75em;
  font-family: Arial, Helvetica, sans-serif;

	color: var(--color-background-topbar);
}




/************************************************************/
/* RESPONSIVENESS ALS SCHERM/BROWSER MINIMAAL 38EM BREED IS */
/************************************************************/
@media (width > 38em) {
  header > button:nth-of-type(2) {
    display:none;

  }
  
  nav {
    position:static;
    translate:unset;
    background:unset;
    
  }
  
  nav button {
    display:none;
    
  }
  
  nav ul {
    display:flex;
    gap:1em;
    
  }
  
  nav a {
    border-bottom: unset;
    
    display:flex;
    flex-direction:column; 
    
  }
  
  header > a:last-of-type {
    display:flex;
    flex-direction:column; 
    
  }
}

/*********************************************************/
/* STYLING VOOR DE HEADER ALS HIJ MINIMAAL 57EM BREED IS */
/*********************************************************/
/*@media (width > 57em) {
  header > a:last-of-type, nav a {
    flex-direction: row;
    
  }
}