/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/********/
/* MAIN */
/********/
main section:first-of-type {
  position: relative;
}

main section:first-of-type h1 {
  position: absolute;
  
  padding: .5em;
  z-index: 50;
  border-radius: .25rem;

  display: flex;
  flex-wrap: wrap;
  padding: 0.8125em 1em 1em;

  background-color: var(--color-main);

  font-family: "Rijksoverheid", Arial, sans-serif;
  font-weight: bold;
	color:var(--color-background-topbar);
}

main section:nth-of-type(6) {
  position: relative;

}
  /*height: 20px;
  width: 41px;
  background-color: rgb(21, 66, 115);
  margin: 0px auto;*/


main section:nth-of-type(6) > img {
  position: absolute;

  size: 100%;
}



