/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/**********/
/* HEADER */
/**********/



/********/
/* MAIN */
/********/
main {
  position:relative;
  left: 1em;
  right: 1em;
}

main section:first-child {
  background-color: var(--color-main);

}

main section:first-of-type h1 {
	color:var(--color-text);
}





