/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
img {
  max-width: 100%;

  /* nieuwe code */
  max-height: 100%;
  /***************/
}

svg {
  width: 4rem;
}


/********/
/* MAIN */
/********/
main section:first-of-type {
  position: relative;
}

main section:first-of-type h1 {
  position: absolute;
  
  padding: .5rem;
  z-index: 50;
  border-radius: .25rem;

  display: flex;
  flex-wrap: wrap;
  padding: 0.8125rem 1rem 1rem;

  background-color: var(--color-main);

  font-family: "rijksoverheid", Arial, sans-serif;
  font-weight: bold;
	color:var(--color-background-topbar);
}



main section:nth-of-type(6) {
  position: relative;

}
  /*height: 20px;
  width: 41px;
  background-color: rgb(21, 66, 115);
  margin: 0px auto;*/


main section:nth-of-type(6) > img {
  /* position: absolute; */
  max-width: 100%;
}

main section:last-of-type > img:nth-last-of-type(2) {
  max-width: 139.6px;
  min-width: 46.72;

}

main section:last-of-type > img:nth-of-type(3) {
  max-width: 139.6px;
  max-height: 42.23px;

}
