/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing: border-box;  
}



/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/********/
/* MAIN */
/********/
main section:first-of-type h1 {
	position: absolute;
}






